<footer class="w-full min-h-100 lg:h-171.25 px-4 sm:px-6 lg:px-17.75 py-7.5 sm:py-8.75 lg:py-10 flex flex-col bg-[#272727] rounded-t-2xl sm:rounded-t-3xl text-white justify-between">
  <header class="w-full flex flex-col lg:flex-row items-center justify-between gap-6">
    <h1 class="font-semibold leading-tight text-[32px] sm:text-[40px] lg:text-[48px] xl:text-[64px] text-[#FCFCFD] text-center lg:text-left">{{ 'LETS_CONNECT' | translate }}</h1>
    <a href="https://mail.google.com/mail/?view=cm&to=megoo9786@gmail.com" target="_blank" class="group flex items-center justify-center gap-2 w-full sm:w-45 lg:w-50.5 h-12.5 sm:h-14 lg:h-15.5 px-4 sm:px-5 py-2 sm:py-2.5 text-white text-base sm:text-lg font-semibold rounded-full bg-main cursor-pointer hover:bg-[#e46e24] transition-colors">{{ 'hire' | translate }}
      <fa-icon [icon]="faArrowRight" class="text-2xl text-white -rotate-45 group-hover:rotate-0 transition-all"></fa-icon>
    </a>
  </header>

  <br>
  <hr>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8  my-4">
<!-- navigation -->
  <div class="flex  flex-col gap-5 lg:gap-7  ">
    <div class="leading-tight text-[18px] sm:text-[19px] lg:text-[20px] font-semibold text-main">{{ 'NAVIGATION' | translate }}</div>
    <div class="flex flex-col gap-3 lg:gap-5">
      <a class="text-[#FCFCFD] text-[14px] sm:text-[15px] lg:text-[16px] cursor-pointer hover:text-main transition-colors" href="#home">{{"home" | translate }}</a>
      <a class="text-[#FCFCFD] text-[14px] sm:text-[15px] lg:text-[16px] cursor-pointer hover:text-main transition-colors" href="#Project">{{"projects" | translate }}</a>
      <a class="text-[#FCFCFD] text-[14px] sm:text-[15px] lg:text-[16px] cursor-pointer hover:text-main transition-colors" href="#exexperience">{{"experience" | translate }}</a>
      <a class="text-[#FCFCFD] text-[14px] sm:text-[15px] lg:text-[16px] cursor-pointer hover:text-main transition-colors" href="#skills">{{"skills" | translate }}</a>
      <a class="text-[#FCFCFD] text-[14px] sm:text-[15px] lg:text-[16px] cursor-pointer hover:text-main transition-colors" href="#testimonials">{{"testimonial" | translate }}</a>
      <a class="text-[#FCFCFD] text-[14px] sm:text-[15px] lg:text-[16px] cursor-pointer hover:text-main transition-colors" href="#contact">{{"contact" | translate }}</a>
    </div>
   </div>
<!-- contact -->
  <div class="flex flex-col gap-5 lg:gap-7">
    <div class="leading-tight text-[18px] sm:text-[19px] lg:text-[20px] font-semibold text-main">{{"contact" | translate }}</div>
    <div class="flex flex-col gap-3 lg:gap-5">
      <span class="text-[#FCFCFD] text-[14px] sm:text-[15px] lg:text-[16px] cursor-pointer hover:text-main transition-colors">01119942371</span>
      <span class="text-[#FCFCFD] text-[14px] sm:text-[15px] lg:text-[16px] cursor-pointer hover:text-main transition-colors">megoo9786@gmail.com</span>
      <span class="text-[#FCFCFD] text-[14px] sm:text-[15px] lg:text-[16px] cursor-pointer hover:text-main transition-colors">hello.com</span>
    </div>
   </div>
<!-- form -->
   <div class="bg-white text-gray-800 rounded-2xl shadow-2xl p-6 col-span-2 ">
    <form #contactForm="ngForm" (ngSubmit)="sendEmail(contactForm)" class="space-y-6">
        <!-- Name -->
        <div>
          <input type="text" name="name" ngModel [placeholder]="'PLACEHOLDER_NAME' | translate" required #name="ngModel" class="w-full px-4 py-3 rounded-lg border border-gray-300 focus:ring-2 focus:ring-main outline-none"/>
          @if (name.invalid && name.touched) {<div class="text-red-500 text-sm mt-1" >{{ 'ERROR_NAME_REQUIRED' | translate }}</div>}
        </div>
        <!-- Email -->
        <div>
          <input type="email" name="email" ngModel [placeholder]="'PLACEHOLDER_EMAIL' | translate" required email #email="ngModel" class="w-full px-4 py-3 rounded-lg border border-gray-300 focus:ring-2 focus:ring-main outline-none"
          />
          @if (email.invalid && email.touched) {
          <div class="text-red-500 text-sm mt-1" >
          @if (email.errors?.['required']) {<span>{{ 'ERROR_EMAIL_REQUIRED' | translate }}</span>}
          @if (email.errors?.['email']) {<span>{{ 'ERROR_EMAIL_INVALID' | translate }}</span>}
          </div>
          }
        </div>

        <!-- Message -->
        <div>
         <textarea name="message" ngModel [placeholder]="'PLACEHOLDER_MESSAGE' | translate" required #message="ngModel" class="w-full px-4 py-3 rounded-lg border border-gray-300 focus:ring-2 focus:ring-main outline-none h-32 resize-none" ></textarea>
         @if (message.invalid && message.touched) {<div class="text-red-500 text-sm mt-1" >{{ 'ERROR_MESSAGE_REQUIRED' | translate }}</div> }
        </div>
        <!-- Submit Button -->
        <button type="submit" [disabled]="contactForm.invalid" class="w-full bg-main hover:bg-[#da6923] transition-colors duration-300 text-white font-bold py-3 rounded-lg shadow-lg disabled:opacity-50 disabled:cursor-not-allowed" >
          {{ 'SEND_MESSAGE_EMAILJS' | translate }}
        </button>
      </form>
   </div>

</div>

   <br>
   <hr>
   <br>
<div class="flex flex-col sm:flex-row w-full max-w-324.5 h-auto  items-start justify-between gap-4 sm:gap-0 mt-6 md:mt-0">
  <p class="w-full sm:w-103.75 h-auto  text-[16px] sm:text-[18px] lg:text-[20px] text-white text-center sm:text-left">Copyright© 2026 AM. All Rights Reserved.</p>
  <a class="w-full sm:w-fit h-auto  text-[16px] sm:text-[18px] lg:text-[20px] text-white text-center sm:text-right hover:text-main transition-colors" href="#">Privacy Policy</a>
</div>
</footer>





